body {
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 35px;
}

img {
    max-width: 100%; 
}
p.color1{
    background-color: rgb(112, 193, 293);
    width: 800px;
    height: 20px;
    color: white;
    padding: 15px;
    border-radius: 12px;
    align-content: flex-end;
    }
p.color2{ 
    background-color:#ABDEE6;
    width: 500px;
    height: 20px;
    color: white;
    padding: 15px;
    border-radius: 12px;
}

p.color3{ 
    background-color: #EAC5D7;
    width: 400px;
    height: 20px;
    color: white;
    padding: 15px;
    border-radius: 12px;  
    }
p.color4{ 
    background-color: #F5FBFD;
    width: 250px;
    height: 20px;
    color: grey;
    padding: 15px;
    border-radius: 15px;
    }

.Lettertype1{
    padding-top: 24px;
    padding-bottom: 26px;
    position: static;
    font-size: 44pt;
    color: #ffffff;
    background-color: #70C1DB;
    

    }

.Lettertype2{
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 40pt;
    position: static;
    color:#46687E 
}
.lettertype3{
    color: white;
    background-color: #70C1DB;
    font-size: 30pt;
    position: static;
}

.icoon1{
    max-width: 40px;
    max-height: 40px;
}
.icoon5{
    max-width: 40px;
    max-height: 40px;
}
.icoon3{
    max-width: 40px;
    max-height: 40px;
}

.icoon4{
    max-width: 40px;
    max-height: 40px;
}

.Lcolor{
    color: #ABDEE6;
}
 .knoppen1{
     margin: 12px;
     padding: 15px;
    border: 12px solid #70C1DB;
    
    
 }
 .titel{
     text-align: center;
     position: fixed;
     top: 0px;
     left: 0px;
     margin: 0px;
     padding: 10px;
     width: 100%;
     background-color: #70C1DB;
     z-index: 10;
     color: white;
 }
.logo{
    margin: 12px;
    padding: 15px;
    border: 12px solid #70C1DB;
}

.kleuren{
    margin: 12px;
    padding: 15px;
    border: 12px solid #70C1DB;
}
.typografie{
    margin: 12px;
    padding: 15px;
    border: 12px solid #70C1DB;
}