body {
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 35px;
}

img {
    max-width: 100%; 
}
p.color1{
    background-color: #70C1DB;
    width: 800px;
    height: 20px;
    color: white;
    padding: 15px;
    border-radius: 12px;
    align-content: flex-end;
    }
p.color2{ 
    background-color:#46687E;
    width: 500px;
    height: 20px;
    color: white;
    padding: 15px;
    border-radius: 12px;
}

p.color3{ 
    background-color: #c1Dfe9;
    width: 400px;
    height: 20px;
    color: white;
    padding: 15px;
    border-radius: 12px;  
    }
p.color4{ 
    background-color: #ff9f0f;
    width: 250px;
    height: 20px;
    color: grey;
    padding: 15px;
    border-radius: 15px;
    }
p.color5{ 
    background-color: #DBF3FF;
    width: 230px;
    height: 40px;
    color: grey;
    padding: 15px;
    border-radius: 15px;
    }

p.color6{ 
    background-color: #7FFF50;
    width: 210px;
    height: 20px;
    color: grey;
    padding: 15px;
    border-radius: 15px;
    }

p.color7{ 
    background-color: #FA4D4D;
    width: 200px;
    height: 20px;
    color:white;
    padding: 15px;
    border-radius: 15px;
        }

p.color8{ 
    background-color: #E1E1E1;
    width: 180px;
    height: 40px;
    color: grey;
    padding: 15px;
    border-radius: 15px;
            }

.Lettertype1{
    padding-top: 24px;
    padding-bottom: 26px;
    position: static;
    font-size: 44pt;
    color: #ffffff;
    background-color: #70C1DB;
    

    }

.Lettertype2{
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 40pt;
    position: static;
    color:#46687E 
}
.lettertype3{
    color: white;
    background-color: #70C1DB;
    font-size: 30pt;
    position: static;
}

.icoon1{
    width: 40px;
    height: 40px;
    float: left;
}
.icoon5{
    width: 40px;
    height: 40px;
    float: left;
}
.icoon3{
    width: 40px;
    height: 40px;
    float: left;
}

.icoon4{
    max-width: 40px;
    max-height: 40px;
}

.Lcolor{
    color: #ABDEE6;
}
.knoppen1{
     margin: 12px;
     padding: 15px;
     border: 12px solid #70C1DB;  
 }

 .Knoppen{
     width: 40px;
     height: 40px;
     align-self: auto;
 }
 .titel{
     text-align: center;
     position: fixed;
     top: 0px;
     left: 0px;
     margin: 0px;
     padding: 10px;
     width: 100%;
     background-color: #70C1DB;
     z-index: 10;
     color: white;
     border-radius: 36px;
 }
.logo{
    margin: 12px;
    padding: 15px;
    border: 12px solid #70C1DB;
    border-radius: 12px;
}

.kleuren{
    margin: 12px;
    padding: 15px;
    border: 12px solid #70C1DB;
    border-radius: 12px;
}
.typografie{
    margin: 12px;
    padding: 15px;
    border: 12px solid #70C1DB;
    border-radius: 12px;
}


.buttons{
    margin: 12px;
    padding: 15px;
    border: 12px solid #70C1DB;
    border-radius: 12px;
}

.scenario{ 
    margin: 12px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #70C1DB;
    border-radius: 15px;
}

.Tscenario {
    text-align: center;
     position: fixed;
     top: 0px;
     left: 0px;
     margin: px;
     padding: 0px;
     width: 100%;
     z-index: 10;
     color:rgb(255, 255, 255);
     background-color: #70C1DB;
     border-radius: 36px;

}
.info{
    color: #70C1DB;
    margin: 25px;
    
    }
.titelintro{
    margin-top: 745px;
    margin: 25px;
}